@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are goup of property dealers, with over 50 years of collective experience in sale and purchase of residential and commercial properties.</p>
<p>We are here to help you fullfill your requirement for sale and purchase of a property.</p>